/*
!/*/
.*
*.log
build/
/output
!/.devcontainer
!/.gitattributes
!/.github
!/.gitignore
!/.infra
!/.pre-commit-config.yaml
!/.prettierignore
!/AGENTS.md
!/build.gradle
!/CHANGELOG.md
!/CLAUDE.md
!/CONTRIBUTING.md
!/gradlew
!/gradlew.bat
!/LICENSE.txt
!/README.md
!/settings.gradle
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
