*.log
*.md
!/AGENTS.md
!/CLAUDE.md
!/CONTRIBUTING.md
!/README.md
.*
!/.gitattributes
!/.github
!/.gitignore
!/.infra
!/.pre-commit-config.yaml
!/.devcontainer
build/
!**/src/main/**/build/
!**/src/test/**/build/
/output

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
